[submodule "el-asno-alado"]
	path = el-asno-alado
	url = git@github.com:VivaReal/el-asno-alado.git
[submodule "make"]
	path = make
	url = https://github.com/VivaReal/make-snippets
[submodule "code-style"]
	path = code-style
	url = https://github.com/VivaReal/code-style
