.idea/
.gradle/
.classpath
.project
.vscode

.settings/

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
build/
/classes/

!gradle-wrapper.jar
/bin/

out/

*.orig

logs/
*.log

deploy/output
deploy/variables/user-data.sh
load-test/deploy/k8s/dist/*

search-api.iml
