# Deployment - On Demand
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${DEPLOY_NAME}-ondemand
  namespace: search
  labels:
    app: ${APP}
    process: ${PROCESS}
    product: ${PRODUCT}
    cluster: ${ES_CLUSTER_NAME}
    deploy: ${DEPLOY_NAME}
    version: ${VERSION}
    tier: ondemand
    deploy-group: ${DEPLOY_GROUP}
spec:
  selector:
    matchLabels:
      app: ${APP}
      process: ${PROCESS}
      product: ${PRODUCT}
      cluster: ${ES_CLUSTER_NAME}
      deploy: ${DEPLOY_NAME}
      version: ${VERSION}
      tier: ondemand
      deploy-group: ${DEPLOY_GROUP}
  replicas: ${ONDEMAND_REPLICAS}
  progressDeadlineSeconds: 600
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: ${MAX_SURGE}
  template:
    metadata:
      labels:
        app: ${APP}
        process: ${PROCESS}
        product: ${PRODUCT}
        cluster: ${ES_CLUSTER_NAME}
        deploy: ${DEPLOY_NAME}
        version: ${VERSION}
        tier: ondemand
        deploy-group: ${DEPLOY_GROUP}
    spec:
      terminationGracePeriodSeconds: 30
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: deploy
                operator: In
                values:
                - ${DEPLOY_NAME}
            topologyKey: kubernetes.io/hostname
      nodeSelector:
        role.vivareal.io/ondemand: "true"
      tolerations:
      - effect: PreferNoSchedule
        key: role.vivareal.io/ondemand
        value: "true"
      containers:
        - name: search-api-container
          image: ${IMAGE_NAME}
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: ${ENV}
            - name: JAVA_OPTS
              value: ${RUN_OPTS}
            - name: DD_AGENT_HOST
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
          ports:
            - containerPort: 8482
              protocol: TCP
          resources:
            requests:
              cpu: 2
              memory: ${RUN_MEMORY}Mi
            limits:
              cpu: 2
              memory: ${RUN_MEMORY}Mi
          livenessProbe:
            httpGet:
              path: /actuator/health/ping
              port: 8482
            initialDelaySeconds: 25
            periodSeconds: 15
            failureThreshold: 6
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /actuator/health/elasticsearchRest
              port: 8482
            initialDelaySeconds: 25
            periodSeconds: 15
            failureThreshold: 6
            timeoutSeconds: 5
---
# Deployment - Spot
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${DEPLOY_NAME}-spot
  namespace: search
  labels:
    app: ${APP}
    process: ${PROCESS}
    product: ${PRODUCT}
    cluster: ${ES_CLUSTER_NAME}
    deploy: ${DEPLOY_NAME}
    version: ${VERSION}
    tier: spot
    deploy-group: ${DEPLOY_GROUP}
spec:
  selector:
    matchLabels:
      app: ${APP}
      process: ${PROCESS}
      product: ${PRODUCT}
      cluster: ${ES_CLUSTER_NAME}
      deploy: ${DEPLOY_NAME}
      version: ${VERSION}
      tier: spot
      deploy-group: ${DEPLOY_GROUP}
  replicas: ${SPOT_REPLICAS}
  progressDeadlineSeconds: 600
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: ${MAX_SURGE}
  template:
    metadata:
      labels:
        app: ${APP}
        process: ${PROCESS}
        product: ${PRODUCT}
        cluster: ${ES_CLUSTER_NAME}
        deploy: ${DEPLOY_NAME}
        version: ${VERSION}
        tier: spot
        deploy-group: ${DEPLOY_GROUP}
    spec:
      terminationGracePeriodSeconds: 30
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: deploy
                operator: In
                values:
                - ${DEPLOY_NAME}
            topologyKey: kubernetes.io/hostname
      containers:
        - name: search-api-container
          image: ${IMAGE_NAME}
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: ${ENV}
            - name: JAVA_OPTS
              value: ${RUN_OPTS}
            - name: DD_AGENT_HOST
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
          ports:
            - containerPort: 8482
              protocol: TCP
          resources:
            requests:
              cpu: 2
              memory: ${RUN_MEMORY}Mi
            limits:
              cpu: 2
              memory: ${RUN_MEMORY}Mi
          livenessProbe:
            httpGet:
              path: /actuator/health/ping
              port: 8482
            initialDelaySeconds: 25
            periodSeconds: 15
            failureThreshold: 6
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /actuator/health/elasticsearchRest
              port: 8482
            initialDelaySeconds: 25
            periodSeconds: 15
            failureThreshold: 6
            timeoutSeconds: 5
---
# HPA
apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: ${DEPLOY_NAME}-spot
  namespace: search
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: ${DEPLOY_NAME}-spot
  minReplicas: ${MIN_SPOT_REPLICAS}
  maxReplicas: ${MAX_SPOT_REPLICAS}
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 75
---
# PDB
apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
  name: ${DEPLOY_NAME}
  namespace: search
spec:
  selector:
    matchLabels:
      app: ${APP}
      process: ${PROCESS}
      product: ${PRODUCT}
      deploy: ${DEPLOY_NAME}
  minAvailable: 50%
---
# Service - Deploy specific
apiVersion: v1
kind: Service
metadata:
  name: ${DEPLOY_NAME}
  namespace: search
  labels:
    app: ${APP}
    process: ${PROCESS}
    product: ${PRODUCT}
    cluster: ${ES_CLUSTER_NAME}
    deploy: ${DEPLOY_NAME}
  annotations:
    prometheus.io/path: "/actuator/prometheus"
    prometheus.io/port: "8482"
    prometheus.io/scrape: "true"
spec:
  ports:
    - port: 80
      name: http
      targetPort: 8482
  selector:
    app: ${APP}
    process: ${PROCESS}
    product: ${PRODUCT}
    cluster: ${ES_CLUSTER_NAME}
    deploy: ${DEPLOY_NAME}
  type: ClusterIP
---
# Ingress - Deploy specific
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ${DEPLOY_NAME}
  namespace: search
  labels:
    app: ${APP}
    process: ${PROCESS}
    product: ${PRODUCT}
    cluster: ${ES_CLUSTER_NAME}
    deploy: ${DEPLOY_NAME}
  annotations:
    kubernetes.io/ingress.class: "private"
    ingress.kubernetes.io/enable-access-log: "false"
spec:
  rules:
    - host: api.search.${DEPLOY_NAME}.private.${ENV}.grupozap.io
      http:
        paths:
          - path: /
            backend:
              serviceName: ${DEPLOY_NAME}
              servicePort: 80