# Private Ingress - Generic
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ${APP}
  namespace: search
  labels:
    app: ${APP}
    process: ${PROCESS}
    product: ${PRODUCT}
  annotations:
    kubernetes.io/ingress.class: "private"
spec:
  rules:
    - host: ${FRIENDLY_DNS}
      http:
        paths:
          - path: /
            backend:
              serviceName: ${APP}
              servicePort: 80
    - host: ${LEGACY_FRIENDLY_DNS}
      http:
        paths:
          - path: /
            backend:
              serviceName: ${APP}
              servicePort: 80
---
# Internal Ingress - Generic
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ${APP}
  namespace: search
  labels:
    app: ${APP}
    process: ${PROCESS}
    product: ${PRODUCT}
  annotations:
    kubernetes.io/ingress.class: "internal"
    ingress.kubernetes.io/enable-access-log: "false"
spec:
  rules:
    - host: ${INTERNAL_DNS}
      http:
        paths:
          - path: /
            backend:
              serviceName: ${APP}
              servicePort: 80
