{
	"apiVersion": "v1",
	"spec": {
		"containers": [{
			"env": [{
					"name": "JAVA_OPTS",
					"value": "${RUN_OPTS}"
				},
				{
					"name": "REPORT_VERSION",
					"value": "${VERSION}"
				},
				{
					"name": "AWS_ACCESS_KEY_ID",
					"valueFrom": {
						"secretKeyRef": {
							"key": "AWS_ACCESS_KEY_ID",
							"name": "aws-credentials"
						}
					}
				},
				{
					"name": "AWS_SECRET_ACCESS_KEY",
					"valueFrom": {
						"secretKeyRef": {
							"key": "AWS_SECRET_ACCESS_KEY",
							"name": "aws-credentials"
						}
					}
				},
				{
					"name": "SLK_TOKEN",
					"valueFrom": {
						"secretKeyRef": {
							"key": "SLK_TOKEN",
							"name": "tokens"
						}
					}
				}
			],
			"image": "${IMAGE_NAME}",
			"imagePullPolicy": "Always",
			"name": "${DEPLOY_NAME}",
			"resources": {
				"limits": {
					"cpu": "1",
					"memory": "2048Mi"
				},
				"requests": {
					"cpu": "1",
					"memory": "2048Mi"
				}
			}
		}],
		"restartPolicy": "Never"
	}
}
